.whitestripe {
    margin: 2rem 0;
    h1 {
        font-family: sans-serif;
        letter-spacing: 2px;
        font-weight: bolder;
        text-align: center;
    }
    p {
        margin: 2rem auto;
        padding: 0 5rem;
    }
}