.menueBar {
    background-color: $light-grey;
    height: 4rem;
    margin: 0;
    ul.subnav {
        margin: 0 3rem;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: left;
        justify-content: flex-start;
        li {
            margin: 1.25rem 1rem 0 0;
            a {
                color: $black;
                text-decoration: none;
            }
            a:hover {
                font-weight: bold;
                font-size: 1.2rem;
            }
        }
    }
    @media (max-width: 768px) {
        ul.subnav {
            margin: 0 2rem;
        }
    }
    @media (max-width: 580px) {
        ul.subnav {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
}